.cards {
  background-color: #0e3336;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  background-color: #26474a;
  color: #fff;
  padding: 15px;
  border: solid 1px #ffff;
  border-radius: 5%;
  width: 250px;
}

.positive {
  background-color: #26474a;
  color: #fff;
  padding: 15px;
  border: solid 1px greenyellow;
  border-radius: 5%;
  width: 250px;
}
.negative {
  background-color: #26474a;
  color: #fff;
  padding: 15px;
  border: solid 1px red;
  border-radius: 5%;
  width: 250px;
}
