.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 2fr 10fr;
  align-items: top;
  height: 100vh;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}

.aside form {
  border: 1px solid #185157;
  border-radius: 5%;
  padding: 15px 25px 15px 25px;
  width: 100%;
}

.submit {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 50%;
}

.minGames {
  width: 20%;
}
