.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 3fr 9fr;
  align-items: top;
  height: 100vh;
}

.aside {
  background-color: #cdc8b1;
}

.main {
  background-color: #cdc8b1;
}
