.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 3fr 9fr;
  align-items: center;
  height: 100vh;
}

.aside {
  background-color: aqua;
}

.main {
  background-color: bisque;
}
