.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid #185157;
}
.navbar form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar label {
  padding: 20px;
}

.navbar h3 {
  padding: 10px;
}

.navbar input {
  height: 30px;
}

.submit {
  margin-left: 10px;
}

.errorMessage {
  color: red;
  font-size: 11px;
}

.divWithError {
  display: flex;
  flex-direction: column;
}