.stats {
  background-color: #0e3336;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;

  gap: 10px;
}

@media (max-width: 1000px) {
  .stats {
   
    
    display: flex;
    flex-direction: column-reverse;
  }

 .charts {
  display: flex !important;
  flex-direction: column;
 }
}

.card {
  background-color: #26474a;
  color: #fff;
  padding: 15px;
  border: solid 1px #ffff;
  border-radius: 2%;
}
.card ul {
  list-style-type: none;
}

.card ul li {
  padding: 5px 0;
}

.pie {
  font-weight: bolder;
  height: 250px;
}

.breakdown {
  grid-column: span 2;
  height: 400px;
  margin-bottom: 5rem;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.charts h4 {
  margin-bottom: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white,
.black {
  margin-right: 5px;
}
.white {
  color: white;
}
.black {
  color: black;
}
